body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 20px;
  }
  
  #notification-page {
        max-width: 90vw;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    max-width: 500px;
    min-width: 300px;
  }
  
  .header {
    display: flex;
    align-items: center;
     margin-bottom: 10px;
  }
  
  .back-button {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .back-button img {
    width: 30px;
    height: 30px;
  }
  
  .page-title {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
  }
  
  .no-wrap-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content{
    padding: 10px;
  }
  
  #notification-list {
  list-style: none;
  padding: 0;
    margin: 0;
  }
  
  #notification-list li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  }